.footer{
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: hsl(30, 53%, 64%, 0.7);
  color: white;
}

.homepage .h1-text {
  text-shadow: 2px 2px 2px black;
  color:#e5e5e5;
  text-align: center;
}


body, html {
  text-align: center;
  height: 100%;
  margin: 0;
  background-image: url('https://images.unsplash.com/photo-1692713471000-06db93efbcfc?q=80&w=3433&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  image-rendering:auto;
  font-family: Arial, sans-serif;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(11, 24%, 72%,0.7); /* Semi-transparent background */
  padding: 10px 20px;
}

.navbar-left {
  display: flex;
  gap: 15px;
}

.navbar-left a, .navbar-right button {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.navbar-left a:hover, .navbar-right button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Hover effect */
}

.navbar-right {
  display: flex;
  gap: 10px;
}

/*
This is to smooth scroll to the buttom of the page when contacts button is clicked
*/
html {
  scroll-behavior: smooth;
}


/*
css styling for html sign up form
*/
.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #45a049;
}





